@import url("../../node_modules/hover.css/css/hover-min.css");

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.container{
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.centrado{
    height: 100%;
    width: 75%;
    margin: 0 auto;
}

.centrado.logros h1{
    text-align: center;
    margin-bottom: 1rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card img{
    width: 100%;
    max-height: 230px;
    object-fit: cover;
}

.card-header h2{
    margin-bottom: 1rem;
}


.card{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding:  1rem;
    border: 2px solid #ddd;
    border-radius: 1rem;
    width: 300px;
    transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 3px 0 1rem #999;
}


header{
    background-color: #111;
    color:#DDD;
    min-height: 10vh;
}

header .centrado{
    
    display:flex;
    
    align-items: center;
    justify-content: space-between;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ddd;
}

a:hover{
    color: #999;
}

nav ul{
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    text-transform: uppercase;
}

nav ul li::after{
    content: "|";
    margin-left: 10px;
}
nav ul li:last-child::after{
    content: "";
}


li.actual a{
    border-bottom: 2px solid #999;
}

.boton{
    font-size: 1rem;
    padding: 1rem;
    background:none;
    border:1px solid #ddd;
    color: white;
    cursor: pointer;
}

.centrado.contacto{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.contacto h2{
    text-align: center;
}

.contacto .boton{
    width: 10%;
    min-width: fit-content;
}

.formulario{
    border: 3px solid #DDD;
    border-radius: 1rem;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.form-label{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-info{
    font-size: .7rem;
}

input,textarea,select{

    border: none;
    padding: .4rem;
    font-size: 1rem;

}

textarea{
    resize: none;
    font-family: sans-serif;
}


main{
    flex:1;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #111;
}

footer .centrado{
    color:#ddd;
    display:flex;
    
    min-height: 12vh;
    justify-content: space-between;
    align-items: center;
    line-height: 2rem;
}

footer .centrado ul{
    display:flex;
    gap:10px;
}

footer .centrado ul li:first-child::after{
    content: "·";
    margin-left: 10px;
}

#quote{
    font-style: italic;
    letter-spacing: 2px;
}

.bloque-centro{
    width: 40%;
    
    padding: 1rem;
    border: 3px solid #ddd;

    display:flex;
    flex-direction: column;

}
.bloque-centro h1{
    text-align: center;
}

.bloque-centro p{
    margin: 1rem 0;
}

.bloque-centro a{
    align-self: center;
}

.media{
    width: 35%;
}

.biografia .centrado{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

iframe{
    border-radius: 1rem;
}


/* Modificaciones en animaciones */
.hvr-underline-from-center:before{
    height: 2px;
    background-color: #999;
}

.hvr-shutter-out-horizontal:before{
    background:#DDD;
    color: #111;
}

.hvr-shutter-out-horizontal:hover{
    color: #111;
}


/* Boton dark-light mode */

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .switch input:checked + .slider {
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.8);
    border: 2px solid #DDD;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }
  

  @media (min-height: 900px) {
        .slider:before {
        bottom: 0.15em;
      }
  }