@import url("../../node_modules/hover.css/css/hover-min.css");

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.container{
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.centrado{
    width: 75%;
    margin: 0 auto;
}


header{
    background-color: #111;
    color:#DDD;
    min-height: fit-content;
}

header .centrado{
    
    display:flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ddd;
}

a:hover{
    color: #999;
}

nav ul{
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
}

nav ul li::after{
    content: "|";
    margin-left: 10px;
}
nav ul li:last-child::after{
    content: "";
}


li.actual a{
    padding-bottom: 8px;
    border-bottom: 2px solid #999;

}


main{
    flex:1;
    padding: 2rem 0;
}

footer{
    background-color: #111;
}

footer .centrado{
    color:#ddd;
    display:flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
    line-height: 2rem;
}
footer .centrado ul{
    display:flex;
    gap:10px;
}

footer .centrado ul li:first-child::after{
    content: "·";
    margin-left: 10px;
}

/* @keyframes linea{
    0%{
        padding-bottom: 10px;
        border-bottom-width: 1px;
        
    }
    50%{
        border-bottom-width: 2px;
    }
    100%{
        padding-bottom: 3px;
    }
}
*/
@media (max-width: 1000px) {
    header .centrado{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    .centrado{
        width: 95%;
    }

} 

.hvr-underline-from-center{
    line-height: normal; 
    padding-bottom: 5px;
}

.hvr-underline-from-center:before{
    height: 2px;
    background-color: #999;
}

.hvr-underline-from-center::after{
    height: 2px;
}